# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/phase1/.idea/
/phase1/out/
/phase2/.idea/
/phase2/out/
/.idea/
/phase0.iml/

/userManager.ser
